.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Workspace
artifacts/
.wasmer_prebuild/
Sources/CWasmer/bin/
Sources/CWasmer/lib/
Sources/CWasmer/include/
